extends layout

block content
    div
        a(href='/inventory/employeesTable') Employees Table
    div
        a(href='/inventory/computerTable') Computer Table
    div
        a(href='/inventory/monitorsTable') Monitors Table