extends layout

block content
    div
        a(href='#{location}/employeesTable') Employees Table
    div
        a(href='#{location}/computerTable') Computer Table
    div
        a(href='#{location}/monitorsTable') Monitor Table
    div
        a(href='#{location}/peripheralTable') Peripheral Table