.cardDadCss {
    /*display: none; !* Hidden by default *!*/
    position: fixed; /* Stay in place */
    /*z-index: 1; !* Sit on top *!*/
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    /*background-color: rgb(0,0,0); !* Fallback color *!*/
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}

#card {
    width: 50%;
    margin: auto;
    border-style: solid;
    border-width: 5px;
    border-radius: 25px;
    background-color: white; /* Fallback color */
    /*background-color: rgba(0,0,0,0.4); !* Black w/ opacity *!*/
}
.add {
    /*float: right;*/
    /*text-align: right;*/
    margin-right: 25px;
    background-color: #0057B8;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 125px;
}
.pic {
    float: right;
    padding-right: 25px;
    padding-top: 25px;
}
.left {
    /*padding-left: 25px;*/
}
.right {
    float: right;
    /*padding-right: 25px;*/
}
/*table {*/
    /*width: 100%;*/
    /*text-align: center;*/
    /*font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;*/
    /*border-collapse: collapse;*/
    /*padding-bottom: 25px;*/
/*}*/
/*td, th {*/
    /*!*border: 1px solid #ddd;*!*/
    /*padding: 8px;*/
/*}*/

/*tr:nth-child(even){background-color: #f2f2f2;}*/

/*!*tr:hover {background-color: #ddd;}*!*/

/*th {*/
    /*padding-top: 12px;*/
    /*padding-bottom: 12px;*/
    /*background-color: #002E5D;*/
    /*color: white;*/
/*}*/

.close {
    border-style: solid;
    border-width: 1px;
    float: right;
    text-align: center;
    margin-right: 25px;
    margin-top: 25px;
    padding: 2px;
    /*border-radius: 25px;*/
    background-color: red;
    cursor: pointer;
}

.center {
    text-align: center;
}

.titles{
    margin: auto;
    width: 50%;
}
