body {
  font-family: ‘HCo Ringside Narrow SSm’, Arial, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #002E5D;
}

.sidebar {
  /*height: 100%;*/
  width: 200px;
  background-color: #fff;
  float: left;
  /*position: fixed;*/
  z-index: 1;
  overflow: auto;

}


table {
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

input{
  width: 100%;
  border: none;
}

a{
  color: black;
}
a:visited{
  color: black;
}

.navbar a, .navbar a:visited {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: grey;
  color: #002E5D;
}

.dropdown-content, .dropdown-content a:visited {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  color: black;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content div {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown-content div:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.filterButton, .filterButton:visited{
  text-decoration: none;
  padding: 3px;
  margin: 3px;
  background-color: #0057B8;
  color: white;
}

.sendToStorage {
  float: left;
}

.sendToStorageButton {
  float: left;
}

.mobileButtons {
  display: none;
}

a:hover{
  color: #0057B8;
}

input, select, textarea {
  font-size: medium;
  font-family: Vitesse A, Vitesse B, Georgia, serif;

}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-top: 4px;
}

.switch input {
  display: none;
}

.switch div {
  display: none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #666666;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #0057B8;
}

div.checked + .slider {
  background-color: #0057B8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #0057B8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

div.checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}


@media only screen and (max-width: 600px) {
  .sendToStorage {
    width: 100%;
  }

  .sendToStorageButton {
    float: right;
    margin-top: 10px;
  }

  .pic {
    float: none;
  }
  .titles {
    margin: 0;
    padding-left: 50px;
  }
  .mobileButtons {
    display: block;
  }

  #dropDown {
    display: none;
  }
  .mobileButton {
    margin-bottom: 10px;
  }
}


