#table {
    border-spacing: 0 20px;
    margin: auto;
    width: 50%;
}

#table td, #table th {
    border: 1px solid #ddd;
    padding: 8px;
    border-right: 0;
    border-left: 0;
}

#table td:last-child {
    border-right: 1px solid #ddd;
}

#table td:first-child {
    border-left: 1px solid #ddd;
}

tr {
    height: 50px;
    z-index: 1;
}

a {
    z-index: 2;
}

.divButton {
    text-decoration: underline;
}

.divButton:hover {
    color: #66B200;
    cursor: pointer;
}

#table th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 0;
}

.table {
    border-spacing: 0 20px;
    margin: auto;
    width: 50%;
}

.table td, .table th {
    border: 1px solid #ddd;
    padding: 8px;
    border-right: 0;
    border-left: 0;
}

.table td:last-child {
    border-right: 1px solid #ddd;
}

.table td:first-child {
    border-left: 1px solid #ddd;
}

.table th {
    padding-top: 12px;
    padding-bottom: 12px;
    border-top: 0;
}